* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 450px;
  min-width: 450px;
  height: 550px;
  min-height: 550px;
  border: 1px solid black;
  border-top: 3px solid rgb(253, 103, 128);
}
.singleTea {
  margin: 10px 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}
.singleTea:hover {
  color: rgb(253, 103, 128);
}
.startTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 20px 40px;
}
.header h2 {
  margin: 10px;
  font-weight: lighter;
  font-size: 2.5rem;
}
.header h1 {
  margin: 10px;
}
.App {
  display: flex;
  justify-content: center;
}
button.start-timer,
button.cancel {
  background-color: white;
  border: none;
  margin: 20px;
  font-size: 24px;
  cursor: pointer;
}
button.start-timer:hover,
button.cancel:hover {
  color: rgb(253, 103, 128);
}
